* {
  box-sizing: border-box; /* réinitialise le modèle de boîte à border-box pour tous les éléments HTML*/
  font-family: "Raleway", sans-serif; /*Police*/
  color: #101010;
  font-size: 1em;
}
section {
  padding: 15px;
}

/*common to several elements*/
a {
  text-decoration: none;
}

img {
  object-fit: cover;
}
#searchbar h1,
#filters h2,
#most_popular h2,
#accomodations h2,
#activities h2,
footer div div h3 {
  font-size: 1.3em;
}
li i {
  margin-right: 2px;
  font-size: 0.7em;
  color: #0065fc;
}
.none {
  color:#d9d9d9;
}
#accomodations article a figure img,
#most_popular article a figure img {
  height: 100%;
  width: 100%;
}

/*common to several elements*/
/*page header*/

header {
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
header img {
  margin-left: 15px;
}
header > a {
  margin-right: 15px;
  color: #0065fc;
}
header nav {
  flex-basis: 100%;
  margin-top: 10px;
}
header nav ul {
  justify-content: space-around;
  text-align: center;
}
header nav ul li {
  justify-content: center;
  flex-basis: 50%;
  border-bottom: 3px solid #f2f2f2;
  font-weight: normal;
}
header nav ul li:hover {
  border-bottom: 3px solid #0065fc;
}
header nav li:hover > a {
  color: #0065fc;
}
header nav ul li a {
  padding: 15px;
  width: 100%;
}

/*end of page header*/
/*search bar*/

#searchbar h1 {
  margin-bottom: 10px;
}
#searchbar p {
  margin-bottom: 20px;
}
#searchbar form {
  max-width: 35em;
  flex-basis: 100%;
  height: 50px;
}
#searchbar form label {
  background-color: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  line-height: 50px;
  width: 50px;
  min-width: 50px;
  text-align: center;
}
#searchbar form input {
  color: #101010;
  flex: 1;
  padding: 0 15px;
  border: none;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
}
#searchbar form input:focus {
  /*supprimer les bordures noires dans le champ input de saisie active*/
  outline: none;
}
#searchbar form input::placeholder {
  color: black !important;
  font-size: 1.3em;
  font-weight: 700;
  opacity: 1; /*pour que le noir dans firefox reste bien noir*/
}
#searchbar form button {
  background-color: #0065fc;
  border: none;
  border-radius: 15px;
  width: 50px;
  min-width: 50px;
  margin-left: -15px; /*pour que les bordures grises de l'input viennent jusqu'au bouton rechercher*/
  cursor: pointer; /*changement d'état de la souris*/
}
#searchbar form button i {
  line-height: 50px;
  color: white;
}
#searchbar form button span {
  display: none; /*dans les autres media queries il faudra faire display:initial*/
}

/*end of search bar*/
/*filters*/

#filters {
  display: inline-flex;
  row-gap: 20px;
}
#filters h2 {
  flex-basis: 100%;
}
#filters ul {
  flex-basis: 100%;
}
#filters ul li {
  /* le texte et l'icone*/
  border-bottom: 1.5px solid #d9d9d9;
  border-top: 1.5px solid #d9d9d9;
  border-right: 1.5px solid #d9d9d9;
  border-radius: 25px;
  align-items: center;
  margin-right: 15px;
  padding-right: 15px;
  height: 2.5em;
  margin-bottom: 10px;
}
#filters ul li:hover {
  /*changement au survol*/
  border-bottom: 1.5px solid #deebff;
  border-top: 1.5px solid #deebff;
  border-right: 1.5px solid #deebff;
  background-color: #deebff;
  cursor: pointer; /*changement d'état de la souris*/
}
#filters ul li i {
  /*les icônes des filtres*/
  color: #0065fc;
  background-color: #deebff;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-right: 10px;
}
#filters p {
  margin-bottom:20px;
  line-height: 1.7em;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
}
#filters p i {
  /*le i de info*/
  color: #0065fc;
  width: 1.7em;
  height: 1.7em;
  border-radius: 15px;
  margin-right: 9px;
  border: 1.5px solid #d9d9d9;
  min-width: 1.7em;
  line-height: 1.7em;
  text-align: center;
}

/*end of filters*/
/*most popular*/

#most_popular {
  background-color: #f2f2f2;
  flex-direction: column;
  row-gap: 10px;
}
#most_popular h2 {
  justify-content: space-between;
  margin-bottom: 30px;
}
#most_popular article {
  background-color: white;
  border-radius: 15px;
  height: 150px;
}
#most_popular article a {
  padding: 5px;
  height: 100%;
}
#most_popular article a figure {
  height: 100%;
  flex-basis: 40%;
}
#most_popular article a figure img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  max-width: 100%;
}
#most_popular article a div {
  flex-basis: 60%;
  padding: 10px;
}
#most_popular article a div p {
  margin-top: 10px;
}
#most_popular article a div ul {
  margin-top: auto;
}

/*end of most popular*/
/*accomodations*/

#accomodations {
  background-color: white;
}
#accomodations h2 {
  margin-bottom: 20px;
}
#accomodations article {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: white;
  height: 200px;
  margin-bottom: 15px;
}
#accomodations article a {
  height: 100%;
  padding: 5px;
}
#accomodations article a figure {
  height: 60%;
}
#accomodations article a figure img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  max-height: 100%;
}
#accomodations article a div {
  margin: 10px;
  height: 40%;
}
#accomodations article a div p {
  font-weight: 100;
  margin-top: 5px;
}
#accomodations article a div ul {
  margin-top: 10px;
}
#accomodations article a div ul li i {
  margin-right: 2px;
}
#accomodations > a {
  line-height: 40px;
}

/*end of accomodations*/
/*activities*/

#activities {
  background-color: white;
}
#activities h2 {
  margin-bottom: 20px;
}
#activities div article {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: white;
  height: 170px;
  margin-bottom: 15px;
}
#activities div article a figure {
  height: 100%;
}
#activities div article a figure div {
  flex: 1;
  height: 60%;
}
#activities div article a figure div img {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  height: 115px;
  width: 100%;
}
#activities div article a figure figcaption {
  align-items: center;
  flex-basis: 55px;
  padding: 15px;
}

/*en of activities*/
/*footer*/

footer div {
  padding: 25px 15px 0px 15px;
  background-color: #f2f2f2;
}
footer div div h3 {
  margin-bottom: 15px;
}
footer div div ul li a {
  display: inline-block;
  margin: 8px auto;
}

/*end of footer*/

@media only screen and (min-width: 576px) {

  /*header*/
  header a {
    margin-top: 2em;
    justify-content: flex-end;
  }
  header > a:nth-child(2) {
    order: 1;
    text-align: right;
    flex-basis: 10%;
  }
  header nav {
    margin: 0 0 0 auto;
    max-width: 350px;
    flex-basis: 40%;
  }
  header nav ul li {
    border-bottom: none;
    justify-content: right;
  }
  header nav ul li:hover {
    border-bottom: none;
    border-top: 3px solid #0065fc;
  }

  /*en of header*/
  /*search bar*/

  #searchbar form {
    max-width: 35em;
  }
  #searchbar form button {
    border-radius: 0 1em 1em 0;
    display:flex;
    flex-direction: row;
    line-height: 3em;
    width: 7em;
    min-width: 7em;
  }
  #searchbar form button > i {
    display: none;
  }
  #searchbar form button span {
    display: initial;
    font-weight: bold;
    color: white;
  }

  /*end of search bar*/
  /*filters*/

  #filters {
    display: flex;
    flex-direction: row;
    line-height: 2em;
  }
  #filters h2 {
    flex-basis: 10%;
    margin-right: 1em;
  }
  #filters ul {
    flex-basis: 80%;
  }

  /*filters*/
  /*most popular*/

  #most_popular article a figure {
    flex-basis: 60%;
  }
  #most_popular article a .description {
    flex-basis: 40%;
  }

  /*end of most popular*/
  /*accomodations*/

  #accomodations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #accomodations h2 {
    flex-basis: 100%;
  }
  #accomodations article {
    flex-basis: 48%;
  }

  /*end of accomodations*/
  /*activities*/

  #activities div article {
    margin: 10px;   
  }
  #activities h2 {
    flex-basis: 100%;
  }
  #activities div {
    display: flex;    
  }
  #activities div >article:nth-child(1) {
    flex-basis: 100%;
  }
  
  /*end of activities*/
  /*footer*/

  footer div div {
    display: inline-flex;
    flex-direction:row;
    flex-wrap: wrap;
  }
  footer div div {
  }
  
}
  /*end of footer*/