/* réinitialise le modèle de boîte à border-box pour tous les éléments HTML*/
* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
section {
    padding: 20px;
}

/*header*/

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
    margin-top: 10px;
    font-weight: 700;
}
#logo {
    margin-left: 15px;
}
header > a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    margin-right: 15px;
    color: #0065FC;
}
header nav {
    flex-basis: 100%;
    margin-top: 10px;
}
header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    text-align: center;
}
header nav ul li {
    display: flex;
    justify-content: center;
    flex-basis: 50%;
    border-bottom: 3px solid #f2f2f2;
    font-weight: normal;
}
header nav ul li:hover{
    border-bottom: 3px solid #0065FC;
}
header nav li:hover > a {
    color: #0065FC;
}
header nav ul li a {
    padding: 15px;
    color: black;
    width: 100%;
    text-decoration: none;
}

/*end of header*/
/*search bar*/

#searchbar {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
#searchbar h1 {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 1.3em;
}
#searchbar p {
    margin-bottom:20px;
}
#searchbar form {
    display: flex;
    max-width: 350px;
    flex-basis: 100%;
    border-radius: 25px;
    height: 50px;
}
#searchbar label {
    background-color: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    line-height: 50px;
    width: 50px;
    min-width: 50px;
    text-align: center;
    }
#searchbar input {
    color:#101010;
    font-weight: 700;
    flex: 1;
    padding: 0 15px;
    border: none;
    border-top: 2px solid #f2f2f2;
    border-bottom: 2px solid #f2f2f2;
}
#searchbar form input:focus {/*supprimer les bordures noires dans le champ input de saisie active*/
    outline: none;
}
input::placeholder {
    color:black;
}
#searchbar form input::placeholder {
    color: black !important;
    font-weight: 700;
    opacity: 1; /*pour que le noir dans firefox reste bien noir*/
} 
#searchbar button {
    background-color: #0065FC;
    border:none;
    border-radius: 15px;
    color: white;
    width: 50px;
    margin-left: -15px;
}
#searchbar button i {
    line-height: 50px;
}
#searchbar button span {
    display: none; /*dans les autres media queries il faudra faire display:initial*/
}

/*end of search bar*/
/*filters*/

#filters {
    flex-wrap: wrap;
    display: inline-flex;
}
#filters h2 {
    margin-bottom: 15px;
    font-weight: 700;
    display: flex;
    font-size: 1.3em;
}
#filters ul { /*le texte des filtres*/
    display: flex;
    flex-wrap: wrap;
    font-weight: 700;
    margin-bottom: 25px;
}
#filters ul li { /* le texte et l'icone*/
    border-bottom: 1.5px solid #d9d9d9;
    border-top: 1.5px solid #d9d9d9;
    border-right: 1.5px solid #d9d9d9;
    border-radius: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-right: 15px;
    padding-right: 15px;
    height: 2.5rem;
}
#filters ul li:hover{
    background-color: #DEEBFF;
    cursor: pointer;
}
#filters ul li i { /*l'icône*/
    color: #0065fc;
    background-color:#DEEBFF;
    border-radius: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-right: 10px;
}
#filters p .fas {/*le i de info*/
    color: #0065fc;
    width: 1.7em;
    height: 1.7em;
    border-radius: 15px;
    margin-right: 9px;
    border: 1.5px solid #d9d9d9;
    min-width: 1.7em;
    line-height: 1.7em;
    text-align: center;  
}
#filters p {
    display: flex;
    align-items: baseline;
    margin-bottom: 30px;
    font-weight:100;
    line-height: 1.7em;    
}

/*end of filters*/
/*most popular*/

#most_popular {
    background-color: #f2f2f2;
    padding-bottom: 40px;
    padding-top: 40px;
}
#most_popular h2 {
    font-weight: 700;
    font-size: 1.3em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
#most_popular h2 i {
    color: black;
}
#most_popular article {
    background-color: white;
    border-radius: 15px;
    height: 150px;
    margin-bottom: 15px;
}
#most_popular article a {
    text-decoration: none;
    display: flex;
    margin-bottom: 10px;
    padding: 5px;
    height: 100%;
}
#most_popular article a figure {
    height: 100%;
    flex-basis: 55%;
}
#most_popular article a figure img {
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;
    height: 100%;
    max-width: 100%;
}
#most_popular article a div {
    flex-basis: 45%;
    display: flex;
    flex-direction: column;
    padding: 10px;

}
#most_popular article a div h3 {
    font-weight: 700;
    color: black;
}
#most_popular article a div p {
    color: black;
    margin-top: 10px;
}
#most_popular article a div ul {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 0.6em;
}
#most_popular article a div ul i {
    color: #0065FC;
}

/*end of most popular*/
/*accomodations*/

#accomodations {
    background-color: white;
}
#accomodations h2 {
    font-weight: 700;
    font-size: 1.3em;
    margin-bottom: 20px;
}
#accomodations article {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .1);
    border-radius: 15px;
    background-color: white;
    height: 200px;
    margin-bottom: 15px;
}
#accomodations article a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 5px;
}
#accomodations article figure {
    height: 60%;
}
#accomodations article figure img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;    
    height: 100%;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}
#accomodations article a div {
    margin: 10px;
    height: 40%;
}
#accomodations article a div h3 {
    color: #101010;
    font-weight: 700;
}
#accomodations article a div p {
    color: #101010;
    font-weight: 100;
    font-size: 0.9em;
    margin-top: 5px;
}
#accomodations article a div ul {
    display: flex;
    list-style-type: none;
    font-size: 0.7em;
    margin-top: 10px;
}
#accomodations article a div ul li i{
    color: #0065FC;
}
#accomodations a {
    text-decoration: none;
    font-weight: 700;
    font-size: 1em;
    color: black;
}

/*end of accomodations*/
/*activities*/

#activities {
    background-color: white;
}
#activities h2 {
    font-weight: 700;
    font-size: 1.3em;
    margin-bottom: 20px;
}
#activities div article {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .1);
    border-radius: 15px;
    background-color: white;
    height: 150px;
}
#activities div article a {
    text-decoration: none;    
}
#activities div article figure {
    height: 100%;
    display: flex;
    flex-direction: column;
}
#activities div article figure div {
    flex: 1;
    height: 60%;
}
#activities div article a figure div img {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;    
    height: 115px;
    width: 100%;
    object-fit: cover;
}
#activities div article a figure figcaption {
    display: flex;
    align-items: center;
    color: black;
    font-weight: 700;
    font-size: 1em;
    flex-basis: 55px;
    padding: 15px;
}

/*en of activities*/
/*footer*/

footer {
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    font-family: "Raleway";
}
footer div {
    margin-left: 15px;
    margin-top: 25px;
}
footer div h3 {
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: 15px;
}
footer div ul li a {
    text-decoration: none;
    color: black;
    display: inline-block;
    margin: 8px 0;
    font-size: 1rem;
}

/*end of footer*/
