/*Réinitialisation par défaut des valeurs de marge et de remplissage de tous les éléments HTML*/
* {
    margin: 0;
    padding: 0;
}

/* réinitialise le modèle de boîte à border-box pour tous les éléments HTML*/
* {
    box-sizing: border-box;
}

/*police*/
body{
    font-family: 'Raleway', sans-serif;
}

/*header*/
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
    margin-top: 10px;
}

#logo {
    margin-left: 15px;
}
.inscription {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    text-decoration: none;
    color: #0065FC;
    margin-right: 15px;
}
nav {
    flex-basis: 100%;
    margin-bottom: 2%;
    margin-top: 30px;
}
ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
}

.nav li.nav_Hébergements {
    border-bottom: 3px solid #F2F2F2;
    width: 50%;
    text-align: center;
    padding-bottom: 15px;
}

.nav li.nav_Hébergements:hover {
    border-bottom: 3px solid #0065FC;
}

.nav li.nav_Activités {
    border-bottom: 3px solid #F2F2F2;
    width: 50%;
    text-align: center;
    padding-bottom: 15px;
}

.nav li.nav_Activités:hover {
    border-bottom: 3px solid #0065FC;
}
.nav li a {
    text-decoration: none;
    color: black;
}
.nav li:hover a {
    color: #0065FC;
}
/*end of header*/
