.bold {
    font-weight: 700;
}
.colorblue {
    color: #0065fc;
}
.colorblack {
    color: black;
}
.dflex {
    display: flex;
}
.flex-dir-row {
    flex-direction: row;
}
.flex-dir-col {
    flex-direction: column;
}
.flex-wrap-wrap {
    flex-wrap: wrap;
}